<%- include("header") -%>

<div class="container">
    <h1>Ramesh</h1>
    <h2>Hello, I'm Ramesh Kumar Chouhan from <a href="https://dhanbad.nic.in/">Dhanbad</a></h2>
    <div class="image">
        <img src=https://i.ibb.co/6tb99m7/Ramesh.png" alt="Ramesh profile picture">
    </div>
    <p>
        Persuing B.tech in the Stream of information Technology.  
    </p>
    <p>I love Ice-Cream ❤</p></td>
</table>
<hr>
<h3>My Hobbies</h3>
<p>
  Cooking <br>
  Cricket <br>
  Reading Computer related books.<br>
</p>
<hr>
<h3>Go-To Internet</h3>
<p>
  <a href="https://www.facebook.com">Facebook</a><br>
  <a href="https://www.youtube.com">YouTube</a><br>
  <a href="https://www.google.com">GOOGLE</a><br>
</p>
</div>

<%- include("footer") -%>